extends layouts/layout

block content
  h1 HQ Manager Dashboard
  p Steakz restaurent HQ - ROME
  table
    tr
      th Branch
      th Amount
      th Date
    tbody 
    tr
        td Rome
        td
          a 80075.45 EUR
        td 23 June 2024
    tr 
        td Venice 
        td
          a 2399.87 EUR
        td 23 June 2024
    tr 
        td Milan
        td 
          a 12000.00 EUR
        td 23 June 2024
    