extends layouts/layout

block content
  h1 Manager Dashboard
  p Steakz Restaurent - sub division - ROME
  table
    tr

      th Amount
      th Date
       tbody 
    tr
        td 80075.45
    
        td 23 June 2024
    tr 
        td 80075.45
    
        td 22 June 2024
    tr 
        td 80407.34
    
        td 21 June 2024
    tr 
        td 90045.86
    
        td 20 June 2024
    tr 
    
    